@font-face {
    font-family: 'GothamRounded';
    src: url("../fonts/Gotham-Rounded-Medium.eot");
    src: url("../fonts/Gotham-Rounded-Medium.eot?#iefix") format("embedded-open"),
    url("../fonts/Gotham-Rounded-Medium.woff") format("woff"),
    url("../fonts/Gotham-Rounded-Medium.tff") format("truetype");
    font-style:normal;
    font-weight:normal;
}
body {
    font-family: "GothamRounded";
    color:#373737;
}
a {
    text-decoration:none;
}

/* HEADER */
.page-header-box {
    text-align: center;
    padding: 73px 20% 26px;
}
.nav {
    font-size:16px;
    font-weight:700;
    color:#fff;
    text-transform:uppercase;
    letter-spacing: 2.4px;
    list-style-type:none; 
    margin:0;
    display:flex;
    display: -ms-flexbox;
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.nav-item {
    color:#fff;
}
.logo-white {
    display:block;
    width: 53px;
    height:55px;
    background-image: url(../img/logo-white.png);
    background-repeat:no-repeat;
    margin-top:-33px;
}
.page-header h1 {
    font-size:36px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:5.4px;
    color:#fff;
    margin-top:33.15%;
    margin-bottom:-13px;
}
.page-header p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 2.4px;
    margin-bottom: 6.31%;
}
.btn-get-started {
    color:#fff;
    font-size:12px;
    letter-spacing: 1.8px;
    font-weight:700;
    text-transform:uppercase;
    background-color:#16a085;
    border: 1px solid #16a085;
    padding:21px 31px 18px 31px;
    border-radius: 3px;
}
.btn-get-started:hover {
    color:#16a085;
    background-color:#fff;
    transition:0.3s;
    -webkit-transition: 0.3s;
}
.networks {
    display:flex;
    display: -ms-flexbox;
    justify-content:space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items:center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    margin: 29.8% auto 0;
    max-width:98px;
}

/* RAPPRESENT */
.box-rappresent {
    display:flex;
    display: -ms-flexbox;
    justify-content:space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 0 10%;
}
.box-rappresent-child {
    min-width:45%;
}
.title-h2 {
    color:#16a085;
    font-size:18px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2.7px;
    margin-bottom: 7%;
}
.box-rappresent-text {
    color:#373737;
    font-size:12px;
    font-weight:300;
    line-height:24px;
    letter-spacing: 1.8px;
    margin-bottom:15%;
}
.box-rappresent-text span {
    font-weight: 700;
    letter-spacing: 1.8px;
}
.btn-get-started-two {
    color:#fff;
    font-size:12px;
    letter-spacing: 1.8px;
    font-weight:700;
    text-transform:uppercase;
    background-color:#16a085;
    border: 1px solid #16a085;
    padding:23px 45px 18px 43px;
    border-radius: 3px;
}
.btn-get-started-two:hover {
    transition:0.3s;
    -webkit-transition: 0.3s;
    color:#16a085;
    background-color:#fff;
}

/* DESIGN */
.box-design {
    display:flex;
    display: -ms-flexbox;
    justify-content:space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 0 8%;
}
.box-design-child {
    max-width:45%;
}
.btn-learn-more {
    color:#fff;
    font-size:12px;
    letter-spacing: 1.8px;
    font-weight:700;
    line-height: 20px;
    text-transform:uppercase;
    background-color:#16a085;
    border: 1px solid #16a085;
    padding:21px 49px 20px 44px;
}
.btn-learn-more:hover {
    color:#16a085;
    background-color:#fff;
    transition:0.3s
    -webkit-transition: 0.3s;
}

/* COMMUNITY */
.box-community {
    display:flex;
    display: -ms-flexbox;
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    justify-content:space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding: 10% 11%;
}
.community-text {
    text-align:center;
    max-width:180px;
}
.community-text h2 {
    font-size:16px;
    font-weight:700;
    line-height:20px;
    text-transform:uppercase;
    letter-spacing: 2.4px;
    margin-top:31px;
}
.community-pics {
    display:flex;    
    display: -ms-flexbox;
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    justify-content:space-around;
    -ms-flex-pack: distribute;
}
.bus {
    margin-right:24px;
}

/* SUBSCRIBE */
.page-subscribe-box {
    text-align: center;
    padding:352px 0 326px;
}
.page-subscribe-box h2 {
    color:#fff;
    font-size:24px;
    font-weight:700px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom:34px;
}
.box-subscribe-input {
    position:relative;
}
.box-subscribe-input input {
    border:1px solid #fff;
    color:#373737;
    font-size:16px;
    border-radius: 3px 0 0 3px;
    background-color:#fff;
    padding: 20px 118px 20px 22px;
    display:block;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    margin : 0 auto;
}
.box-subscribe-input input::placeholder {
    color:#373737;
    font-size:16px;
    font-weight:500;
    text-transform:uppercase;
    letter-spacing: 2.4px;
}
.btn-submit {
    background-color: #16a085;
    width:63px;
    height:60px;
    border-radius: 0 3px 3px 0;
    display:block;
    position:absolute;
    top: 0px;
    left:58.5%;
}
.box-subscribe-input input:focus, .box-subscribe-input .btn-submit {
    outline:none;
    box-shadow: none;
    border: 2px solid transparent;
}

/* DOWNLOAD */
.page-download-box {
    text-align: center;
    padding:91px 0 116px;
}
.page-download-text {
    padding:0 15.19%;
}
.page-download h2 {
    font-size:20px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:3px;
}
.page-download p {
    font-size:12px;
    font-weight:500;
    line-height:22px;
    text-transform:uppercase;
    letter-spacing:1.8px;
    margin-top:-10px;
}
.page-download-list {
    display:flex;
    display: -ms-flexbox;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-wrap:wrap;
    -ms-flex-wrap: wrap;
    padding:0;
    list-style-type:none;
    margin-top:47px;
}
.page-download-apple {
    color:#fff;
    font-size:16px;
    letter-spacing: 2.4px;
    font-weight:700;
    text-transform:uppercase;
    background-color:#1abc9c;
    border: 1px solid #1abc9c;
    padding:22px 134px 13px 24px;
    border-radius: 3px 0 0 3px;
    background-image: url(../img/apple.png);
    background-position:right;
    background-repeat:no-repeat;
    margin-right:26px;
}
.page-download-apple:hover {
    transition:0.3s;
    -webkit-transition: 0.3s;
    color:#1abc9c;
    background-color:#fff;
}
.page-download-play {
    color:#fff;
    font-size:18px;
    letter-spacing: 2.7px;
    font-weight:700;
    text-transform:uppercase;
    background-color:#1abc9c;
    border: 1px solid #1abc9c;
    padding:22px 126px 11px 31px;
    border-radius: 3px 0 0 3px;
    background-image: url(../img/android.png);
    background-position:right;
    background-repeat:no-repeat;
}
.page-download-play:hover {
    transition:0.3s;
    -webkit-transition: 0.3s;
    color:#1abc9c;
    background-color:#fff;
}

/*CREDITS*/
.box-credits {
    display:flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-wrap:wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content:space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3.52% 10.08% 2.73% 9.84%;
}
.box-credits-links {
    font-size: 14px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2.1px;
}
.box-credits-links a {
    color: #373737;
}
.box-credits-links span {
    color: #16a085;
    font-size: 14px;
    font-weight:700;
    letter-spacing:2.1px;
}
.box-credits-copyright {
    font-size: 14px;
    font-weight:700;
    letter-spacing:2.1px;
    margin-top:23px;
}

/* PAGES */
.page-header {
    background-image: url(../img/header-bg.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}
.page-rappresent {
    background-color:#f5f6f7;
    background-size: cover;
}
.page-community {
    background-color:#f5f6f7;
    background-size: cover;
}
.page-subscribe {
    background-image: url(../img/subscribe-bg.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
}
.page-download {
    background-color:#f5f6f7;
    background-size: cover;
}

/*MEDIA*/
@media (max-width: 1300px) {
    .box-community {
        padding: 10% 0;
    }
    .community-text {
        margin: 0 auto;
    }
    .community-pics {
        padding-left:0;
        margin: 0 auto;
    }
    .bus {
        margin-right:24px;
    }
    .btn-submit {
        left:60%;
    }
}
@media (max-width: 1100px) {
    .box-community {
        padding: 10% 0;
    }
    .community-text {
        margin: 0 auto;
    }
    .community-pics {
        padding-left:0;
        margin: 0 auto;
    }
    .bus {
        margin-right:24px;
    }
    .btn-submit {
        left:62%;
    }
}
@media (max-width: 900px) {
    .nav {
        padding-left:0;
        display:inline-block;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    .logo-white {
        display: none;
    }
    .box-rappresent-child {
        position:relative;
        z-index:2;
    }
    .hand {
        position:relative;
        margin-left: -300px;
        opacity: 0.5;
        z-index:1;
    }
    .box-community {
        padding: 10% 0;
    }
    .community-text {
        margin: 0 auto;
    }
    .community-pics {
        padding-left:0;
        margin: 0 auto;
    }
    .bus {
        margin-right:0;
    }
    .btn-submit {
        left:65.5%;
    }
}
@media (max-width:700px) {
    .nav {
        padding-left:0;
        display:inline-block;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    .logo-white {
        display: none;
    }
    .btn-get-started {
        font-size: 10px;
        text-align: center;
        padding: 10px 20px;
    }
    .page-header p {
        margin-bottom: 50px;
    }
    .page-rappresent {
        background-image:url(../img/hand-transparent.png);
        background-position:center;
        background-size: cover;
        text-align: center;
        padding: 20% 0 20%;
    }
    .hand {
        display: none;
    }
    .btn-get-started-two {
        font-size: 10px;
        text-align: center;
        padding: 10px 20px;
        z-index:1;
    }
    .page-design {
        background-image:url(../img/phone-transparent.png);
        background-position:center;
        background-size: cover;
        text-align: center;
        padding: 20% 0 20%;
    }
    .box-design-child {
        max-width:100%;
    }
    .page-design p {
        padding: 40% 0 0 0;
    }
    .phone {
        display: none;
    }
    .page-design .title-h2 {
        margin: 0 auto;
        padding: 5% 0 30%
    }
    .btn-learn-more {
        font-size: 10px;
        text-align: center;
        padding: 10px 20px;
    }
    .box-community {
        padding: 10% 0;
    }
    .community-text {
        margin: 0 auto;
    }
    .community-pics {
        padding-left:0;
        margin: 0 auto;
    }
    .bus {
        margin-right:0;
    }
    .box-subscribe-input input {
        border:1px solid #fff;
        color:#373737;
        font-size:12px;
        border-radius: 3px 0 0 3px;
        background-color:#fff;
        padding: 15px 98px 15px 12px;
        display:block;
        box-sizing:border-box;
        -webkit-box-sizing: border-box;
        margin : 0 auto;
    }
    .box-subscribe-input input::placeholder {
        color:#373737;
        font-size:12px;
        font-weight:500;
        text-transform:uppercase;
        letter-spacing: 2.4px;
    }
    .btn-submit {
        background-color: #16a085;
        width:46px;
        height:46px;
        border-radius: 0 3px 3px 0;
        display:block;
        position:absolute;
        top: 0px;
        left:68%;
    }
    .page-download-list>li {
        margin-bottom: 50px;
    }
    .page-download-apple {
        margin-right:0;
    }
    .box-credits {
        -webkit-box-align: center;
        -ms-flex-align: center;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction:column;
    }
    .smaller-green-logo {
        margin: 0 auto;
    }